* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.searchBar {
    width: 50vw;
    height: 2rem;
    border-radius: 1rem;
    background-color: #f5f5f5;
    border: none;
}

.searchBar:focus {
    border: none
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.background-item {
color: 'red'
}

.staff-item {
    margin-top: 2rem;
}

.more-info {
    display: none;
}

#form-label {
    justify-content: space-between;
    padding: 0.5rem 0;
}