* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.app-container {
    max-width: 750px;
    margin: 0 auto;
}

.header {
    margin: 1rem;
}

.searchBar {
    width: 50vw;
    height: 2rem;
    border-radius: 1rem;
    background-color: #f5f5f5;
    border: none;
    margin-bottom: 1rem;
}

.searchBar:focus {
    border: none
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.background-item {
color: 'red'
}

.staff-item {
    margin-top: 2rem;
    padding: 10px;
    border: 1px solid #666464;
    border-radius: 7px;
}

.staff-display {
    justify-content: space-between;
    align-items: center;
}

.more-info {
    display: none;

}

#form-label {
    justify-content: space-between;
    padding: 0.5rem 0;
}

#form-label label {
    margin-right: 0.5rem;
}

.delete-button {
    height: 1.5rem
}

.info-button {
    margin-left: 0.5rem;
        cursor: pointer;
}

.staff-form {
    margin-top: 2rem
}

.dashboard {
    margin-top: 1rem;
    min-height: 75vh;
}